

@media (prefers-reduced-motion: no-preference) {
    .image {
      animation: image-spin infinite 20s linear;
    }
  }
  

  .image {
    pointer-events: none;
  }
@keyframes image-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
.images-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .rotate{
    animation: rotation 2s infinite linear;
    }
    @keyframes rotation {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(359deg);
        }
      }
      